/* second section */
.my-row{
    display: flex;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

/* aside */
.my-col-small{
    max-width: 200px;
    background-color: var(--blue-color-800);
    color: var(--white-color);
    height: 100%;
}
.my-col-big{
    flex-grow: 1;
    overflow-y: auto;
}

/* my col big */

/* background color main */

.top-main{
    background-color: var(--blue-color-500);
    color:var(--white-color);
}
/* img table */

.table-avatar{
    width: 1.5625rem;
}

